@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-scroll {
  overflow: hidden;
  padding-right: 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  padding: 0;
}
