@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--main-text-color-black);
  background-color: var(--primary-bg-color);
  background-repeat: no-repeat;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
p,
ul {
  margin: 0px;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

:root {
  /* background */
  --primary-bg-color: #212121;
  --input-bg-color: rgba(255, 255, 255, 0.2);
  --modal-bg-color: #fff2fd;
  --accent-bg-color: #4c00fe;
  /* text */
  --primary-text-color: #ffffff;
  --secondaty-text-color: #939393;
  --accent-text-color: #dc56c5;
  --modal-primary-text-color: #0e0e0e;
  --modal-accent-text-color: #4c00fe;
  --modal-color: #4c00fe;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1280px;
  }
}

.header__container {
  height: 308px;
}
@media screen and (min-width: 768px) {
  .header__container {
    height: 274px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    height: 370px;
  }
}

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 60px;
  height: 23px;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 100px;
    height: 27px;
    top: 23px;
    left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    width: 136px;
    height: 65px;
    top: 40px;
    left: 16px;
  }
}

.basket--header {
  position: absolute;
  top: 15px;
  right: 15px;
}
@media screen and (min-width: 768px) {
  .basket--header {
    top: 23px;
    right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .basket--header {
    top: 40px;
    right: 16px;
  }
}

.header__title {
  margin: 80px 40px 10px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #dc56c5;
}
@media screen and (min-width: 768px) {
  .header__title {
    margin: 40px auto;
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .header__title {
    margin-top: 40px;
    margin-bottom: 28px;
    font-size: 50px;
    width: 608px;
  }
}

@media screen and (min-width: 768px) {
  .header__search {
    display: flex;
  }
}

.event {
  padding-top: 56px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .event {
    padding-top: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .event {
    padding-top: 120px;
  }
}

.event_block {
  margin-left: auto;
  margin-right: auto;
}

.event_list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 20px;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
@media screen and (max-width: 767.98px) {
  .event_list {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .event_list {
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .event_list {
    row-gap: 40px;
    column-gap: 32px;
  }
}

.list_item {
  display: block;
  padding-top: 9px;
  padding-right: 10px;
  width: 130px;
  background-image: url(../images/event_bg_mb_1x.png);
  background-position: top right;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .list_item {
    padding-top: 10px;
    padding-right: 11px;
    width: 152px;
  }
}
@media screen and (min-width: 1280px) {
  .list_item {
    padding-top: 19px;
    padding-right: 21px;
    width: 288px;
  }
}

.event_img {
  margin-bottom: 8px;
  border-radius: 50px 0px;
  width: 120px;
  height: 151px;
  overflow: hidden;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .event_img {
    width: 141px;
    height: 178px;
  }
}
@media screen and (min-width: 1280px) {
  .event_img {
    width: 267px;
    height: 337px;
  }
}

.event_title {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #dc56c5;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .event_title {
    margin-bottom: 8px;
  }
}
.event_date {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .event_date {
    margin-bottom: 8px;
  }
}

.event_location {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(32, 13, 29, 0.6);
  opacity: 1;
  transition: opacity 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  /* visibility: hidden; */
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  max-width: 100%;
  min-height: 810px;
  padding-left: 74px;
  padding-right: 74px;
  padding-top: 5px;
  padding-bottom: 40px;
  z-index: 999;
  width: 1034px;
  background-color: var(--modal-bg-color);
  border-top-left-radius: 300px;
  border-bottom-right-radius: 300px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 32px;
}

.modal__big-logo {
  width: 450px;
  height: 664px;
  background-color: blue;
}

.modal__logo {
  display: block;
  width: 140px;
  height: 140px;
  background-color: red;
  border-radius: 50%;
}

.modal__logo-box {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 40px;
  height: 181px;
  align-items: flex-end;
}

.modal__container {
  display: flex;
  gap: 32px;
}

.basket {
  display: block;
  width: 50px;
  height: 50px;
  background-color: var(--primary-bg-color);
}

.basket__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-text-color);
  color: var(--primary-text-color);
  border-radius: 50%;
  transition-property: color, background-color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier();
}

.basket__svg {
  fill: currentColor;
}

.basket__link:hover,
.basket__link:focus {
  background-color: var(--primary-text-color);
  color: var(--accent-text-color);
}

.mini-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 13, 29, 0.6);
  backdrop-filter: blur(3px);
  z-index: 2000;
}

.mini-modal-backdrop.hidden {
  opacity: 0;
  pointer-events: none;
}

.mini-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 240px;
  min-height: 200px;
  border-radius: 100px 0px;
  background-color: aqua;
}

.mini-modal__button {
  min-width: 240px;
  min-height: 100px;
  border-width: 0;
  border-top-left-radius: 100px;
}/*# sourceMappingURL=index.css.map */