:root {
  /* background */
  --primary-bg-color: #212121;
  --input-bg-color: rgba(255, 255, 255, 0.2);
  --modal-bg-color: #fff2fd;
  --accent-bg-color: #4c00fe;

  /* text */
  --primary-text-color: #ffffff;
  --secondaty-text-color: #939393;
  --accent-text-color: #dc56c5;
  --modal-primary-text-color: #0e0e0e;
  --modal-accent-text-color: #4c00fe;
  --modal-color: #4c00fe;
}
