
<div class="modal-basket-backdrop">
  <div class="modal-basket hidden" js-modal-basket>
    <div class="basket">
        <a class="basket__link" href="#" js-modal-basket>
          <svg class="basket__svg"aria-label="shopping cart" width="20" height = "20">
            <use href="./svg/basket.svg#icon-cart"></use> ./images/icons.svg#
          </svg>
        </a>
      </div>
    <div>TIMER</div>     
    <p class="modal-basket__text">You have booked <span class="modal-basket__quantity">0</span><span>tickets</span>for the following events:</p>
    <ul class="modal-basket__name">
        <li>
        <div>
            <div class="modal-basket__name">Name event</div>
            <!-- <div>
                <div class="modal-basket__vip">VIP ticket</div>
                <span class="modal-basket__vip-increment">+</span>
                <span class="modal-basket__vip-quantity">0</span>
                <span class="modal-basket__vip-decrement">-</span>
            </div> -->
            <!-- <div>
                <div class="modal-basket__standard">Standard ticket</div>
                <span class="modal-basket__standard-increment">+</span>
                <span class="modal-basket__standard-quantity">0</span>
                <span class="modal-basket__standard-decrement">-</span>
            </div> -->
        </div>
        </li>
    </ul>
    <button class="modal-basket__continue" type="button">Continue booking</button>
    <button class="modal-basket__buy" type="button">Buy</button>
    <button class="modal-basket__clear" type="button">Clear the list</button>
</div>
</div>
