<section>
  <h2 class="title">OUR EVENTS</h2>
  <div class="event">
    <ul class="event_list list">
      <li class="list_item">
        <div class="event_img">
          <img
            src="https://pixabay.com/get/g17af80c3ce6f9cd39cc47fa27e4f53a25b9a68a0a0656fd1d04a8797fc4820398d50f68572ee9c3ecc5a10afd783b089213fc8283fbb8279d0c854bf3fcd354f_640.jpg"
            alt=""
            width="120"
            height="151"
          />
        </div>
        <h3 class="event_title">eventName</h3>
        <p class="event_date">eventDate</p>
        <p class="event_location">eventLocation</p>
      </li>
    </ul>
  </div>
  <button type="button" class="btn">Fetch users</button>
  <ul class="user-list"></ul>
</section>
