<section class="event">
  <h2 class="title">OUR EVENTS</h2>
  <div class="event_block container">
    <ul class="event_list list">
      <li class="list_item">
        <div class="event_img">
          <img src="#" alt="" width="120" height="151" />
        </div>
        <h3 class="event_title">eventName</h3>
        <p class="event_date">eventDate</p>
        <p class="event_location">
          <svg class="location_icon" width="6" height="9">
            <use href="./images/icons.svg#icon-location"></use>
          </svg>
          <span>event</span>
        </p>
      </li>
    </ul>
  </div>
  <button type="button" class="btn">Fetch users</button>
  <ul class="user-list"></ul>
</section>
