<div class="backdrop is-hidden">
  <div class="modal js-modal">
    <button type="button" class="modal__close">CLOSE</button>
    <div>small-logo-pic</div>
    <div>BIG PIC</div>
    <ul class="modal__list">
      <li class="modal__item">
        <p>INFO</p>
      </li>
      <li class="modal__item">
        <p>WHEN</p>
      </li>
      <li class="modal__item">
        <p>WHERE</p>
      </li>
      <li class="modal__item">
        <p>WHO</p>
      </li>
      <li class="modal__item">
        <p>PRICES</p>
      </li>
    </ul>
  </div>
</div>
