<button type="button" class="modal__open">TEST MODAL BUTTON</button>
<div class="backdrop is-hidden">
  <div class="modal js-modal">
    <button type="button" class="modal__close-btn">CLOSE</button>
    <!-- <div class="modal__logo-box">
      <div class="modal__logo">small-logo-pic</div>
    </div>
    <div class="modal__container">
      <div class="modal__big-logo">BIG PIC</div>
      <ul class="modal__list list">
        <li class="modal__item">
          <p>INFO</p>
        </li>
        <li class="modal__item">
          <p>WHEN</p>
        </li>
        <li class="modal__item">
          <p>WHERE</p>
        </li>
        <li class="modal__item">
          <p>WHO</p>
        </li>
        <li class="modal__item">
          <p>PRICES</p>
        </li>
      </ul>
    </div> -->
  </div>
</div>
