<ul class="paginated__list list">
  <li class="paginated__item js-1st-page item-active">1</li>
  <li class="paginated__item js-back-dots js-hidden">....</li>
  <ul class="pagination__order list">
    <li class="paginated__item">2</li>
    <li class="paginated__item">3</li>
    <li class="paginated__item">4</li>
    <li class="paginated__item">5</li>
  </ul>
  <li class="paginated__item js-forward-dots js-visible">...</li>
  <li class="paginated__item js-last-page"></li>
</ul>
<section>
  <div class="container">
    <ul class="paginated__list">
      <!-- <li class="paginated__item item-active">1</li>
  <li class="paginated__item">26</li>
  <li class="paginated__item">27</li>
  <li class="paginated__item">28</li>
  <li class="paginated__item">5</li>
  <li class="paginated__item js-listen-dots">...</li>
  <li class="paginated__item">29</li> -->
    </ul>
  </div>
</section>
