<div class="backdrop is-hidden">
  <!-- is-hidden -->
  <div class="reg-modal">
    <button type="button" class="modal__close-btn">
      <svg class="modal__icon">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <!-- <svg class="logo__svg" width="80" height="40">
      <use class="logo__svg--mob" href="./images/icons.svg#icon-logo-mob"></use>
      <use class="logo__svg--tab" href="./images/icons.svg#icon-logo-tab"></use>
      <use
        class="logo__svg--desk"
        href="./images/icons.svg#icon-logo-desk"
      ></use>
    </svg> -->
    <form class="registration__form js-registration-form" id="log-form">
      <div class="reg_textfield reg__float-label">
        <label class="registration__label" for="email">Email</label>
        <input
          type="email"
          class="registration__input"
          id="email"
          name="email"
          placeholder="Write your email"
          required
        />
      </div>
      <div class="reg_textfield reg__float-label">
        <label class="registration__label" for="password">Password</label>
        <input
          type="password"
          class="registration__input input__mar"
          id="password"
          name="password"
          placeholder="Write your password"
          required
        />
      </div>
      <button type="submit" class="modal__btn-sign-in js-signin-btn">
        <p class="signin__btn-text">Sign in</p>
      </button>
      <button type="submit" class="modal__btn-sign-up js-signup-btn">
        <p class="signup__btn-text">Registration</p>
      </button>
    </form>
  </div>
</div>
