.backdrop {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(32, 13, 29, 0.6);
  opacity: 1;
  transition: opacity 250ms linear;
  overflow-y: auto;
}
.backdrop.is-hidden {
  opacity: 0;
  /* visibility: hidden; */
  pointer-events: none;
}
