.header__container {
  height: 308px;

  @media screen and (min-width: 768px) {
    height: 274px;
  }

  @media screen and (min-width: 1200px) {
    height: 370px;
  }
}

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 60px;
  height: 23px;

  @media screen and (min-width: 768px) {
    width: 100px;
    height: 27px;
    top: 23px;
    left: 32px;
  }

  @media screen and (min-width: 1200px) {
    width: 136px;
    height: 65px;
    top: 40px;
    left: 16px;
  }
}

.logo__link {
  width: 100%;
  height: 100%;
}

.logo__svg {
  width: 100%;
  height: 100%;
}

.basket--header {
  position: absolute;
  top: 15px;
  right: 15px;

  @media screen and (min-width: 768px) {
    top: 23px;
    right: 32px;
  }

  @media screen and (min-width: 1200px) {
    top: 40px;
    right: 16px;
  }
}

.header__title {
  margin: 80px auto 24px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: var(--accent-text-color);

  @media screen and (min-width: 768px) {
    margin: 40px auto;
    font-size: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 40px;
    margin-bottom: 28px;
    font-size: 50px;
    width: 608px;
  }
}

.header__search {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
}

.search-form,
.country-form {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 20px;

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1200px) {
    width: 288px;
  }
}

.search-form {
  @media screen and (max-width: 767px) {
    margin-bottom: 24px;
  }
}

.search-form__input,
.country-form__input {
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondaty-text-color);
  background-color: transparent;
  border: none;
  outline: none;
}

.search-form__btn,
.country-form__select {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
