header {
  background-image: url('../images/header/logo-bg-sm.png');
  background-position: left top;
  background-size: auto;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    background-image: url('../images/header/logo-bg-md.png');
  }

  @media screen and (min-width: 1200px) {
    background-image: url('../images/header/logo-bg-lg.png');
  }
}

.header__container {
  padding-top: 80px;
  padding-bottom: 56px;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 120px;
  }
}

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 60px;
  height: 23px;

  @media screen and (min-width: 768px) {
    width: 100px;
    height: 27px;
    top: 23px;
    left: 32px;
  }

  @media screen and (min-width: 1200px) {
    width: 136px;
    height: 65px;
    top: 40px;
    left: 16px;
  }
}

.logo__link {
  color: inherit;
  width: 100%;
  height: 100%;
}

.logo__svg {
  fill: currentColor;
  width: 100%;
  height: 100%;
}

.logo__svg--mob,
.logo__svg--tab,
.logo__svg--desk {
  display: none;
}

.logo__svg--mob {
  @media screen and (max-width: 767px) {
    display: block;
  }
}

.logo__svg--tab {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
  }
}

.logo__svg--desk {
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.basket--header {
  position: absolute;
  top: 15px;
  right: 15px;

  @media screen and (min-width: 768px) {
    top: 23px;
    right: 32px;
  }

  @media screen and (min-width: 1200px) {
    top: 40px;
    right: 16px;
  }
}

.header__title {
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: var(--accent-text-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    font-size: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 48px;
    font-size: 50px;
    width: 608px;
  }
}

fieldset {
  border: none;
  outline: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
}

.search-form,
.country-form {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 32px;

  background-color: var(--input-bg-color);
  backdrop-filter: blur(20px);
  border-radius: 20px;

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1200px) {
    width: 288px;
  }
}

.search-form {
  @media screen and (max-width: 767px) {
    margin-bottom: 24px;
  }
}

.search-form__input,
.country-form__input {
  font-size: 16px;
  line-height: 1.25;
  color: var(--modal-bg-color);
  background-color: transparent;
  border: none;
  outline: none;
}

.country-form__input {
  position: relative;
  width: 100%;
}

.search-form__input::placeholder,
.country-form__input::placeholder {
  color: var(--modal-bg-color);
}

.search-form__btn,
.country-form__select {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.country-form__select {
  opacity: 0;
}

.search-form__svg,
.country-form__svg {
  fill: var(--modal-bg-color);
}

.country-form__svg {
  position: absolute;
  top: 16px;
  right: 37px;
  pointer-events: none;
}

.sign-btn {
  position: relative;
  // top: 20px;
  // left: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 20px;
  background-color: var(--modal-color);
  border: none;
  border-radius: 5px;
}

.sign__btn-text {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  color: var(--primary-text-color);
}
