
.mini-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(32, 13, 29, 0.6);
    backdrop-filter: blur(3px); 
    z-index: 2000;

    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mini-modal-backdrop.hidden {
    opacity: 0;
    pointer-events: none;
}

.mini-modal-backdrop.hidden .mini-modal {
scale: 0.8;
}


.mini-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
scale: 1;
    min-width: 240px;
    min-height: 200px;
    border-radius: 100px 0px;

    background-color: var(--primary-text-color);

    @media screen and (min-width: 768px) {
        min-width: 336px;
        min-height: 100px;

      
    }

    box-shadow: 0 0 5px var(--accent-text-color), 0 0 10px var(--accent-text-color), 0 0 15px var(--accent-text-color), 0 0 20px var(--accent-text-color),
    0 0 15px var(--primary-text-color), 0 0 30px var(--primary-text-color), 0 0 20px var(--primary-text-color),
    0 0 5px var(--primary-text-color);

    transition-property: scale, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mini-modal__button {
    min-width: 100%;
    min-height: 100px;

    border-width: 0;
    border-top-left-radius: 100px;
    background-color: var(--accent-bg-color);
    color: var(--primary-text-color);
    font-weight: 500;
}

.mini-modal__close{
    min-width: 100%;
    min-height: 100px;
    border-color: var(--accent-bg-color);
    border-width: 2;
    border-bottom-right-radius: 100px;
    color: var(--accent-bg-color);
    background-color: var(--modal-bg-color);
    font-weight: 500;
    
}
        