.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 100%;
  min-height: 810px;
  padding-left: 74px;
  padding-right: 74px;
  padding-top: 5px;
  padding-bottom: 40px;
  width: 1034px;
  border-top-left-radius: 300px;
  border-bottom-right-radius: 300px;
  z-index: 999;

  background-color: var(--modal-bg-color);

  // @media screen and (min-width: 1280px){
  // }
}
.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 32px;
}
.modal__big-logo {
  min-width: 450px;
  width: 450px;
  height: 664px;
  overflow: hidden;
  background-color: blue;
}
.modal__big-logo img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: 50% 50%;
}
.modal__logo {
  display: block;
  width: 140px;
  height: 140px;
  background-color: red;
  border-radius: 50%;
  overflow: hidden;
}
.modal__logo-box {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 40px;
  height: 181px;
  align-items: flex-end;
}
// .modal__container {
//   width: 100%;
// }
.modal__data-container {
  display: flex;
  gap: 32px;
}
.prices__box {
  display: flex;
}
.prices__text {
  text-transform: capitalize;
}
.prices__icon {
  fill: red;
  width: 24px;
}
