.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 999;
  background-color: var(--modal-bg-color);
  max-width: 100%;
  width: calc(100% - 40px);
  min-height: calc(100% - 40px);

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 42px;
  padding-bottom: 100px;
  min-width: 280px;
  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;

  color: black;

  @media screen and (min-width: 768px) {
    // min-height: 810px;
    padding-left: 74px;
    padding-right: 74px;
    padding-top: 5px;
    padding-bottom: 40px;
    width: 704px;
    max-height: calc(100% - 40px);
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
  }
  @media screen and (min-width: 1280px) {
    // min-height: 810px;
    padding-left: 74px;
    padding-right: 74px;
    padding-top: 5px;
    padding-bottom: 40px;
    width: 1034px;
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
  }
}
.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 32px;
}
.modal__big-logo {
  min-width: 249px;
  width: 249px;
  height: 445px;
  overflow: hidden;
  background-color: blue;
  @media screen and (min-width: 1280px) {
    min-width: 450px;
    width: 450px;
    height: 664px;
  }
}
.modal__big-logo img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: 50% 50%;
}
.modal__logo {
  display: block;
  width: 140px;
  height: 140px;
  background-color: red;
  border-radius: 50%;
  overflow: hidden;
}
.modal__logo-box {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 40px;
  height: 181px;
  align-items: flex-end;
}
// .modal__container {
//   width: 100%;
// }
.modal__data-container {
  display: flex;
  gap: 32px;
}
.modal__title {
  color: var(--accent-text-color);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
  @media screen and (min-width: 1280px) {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
  }
}
.modal__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media screen and (min-width: 1280px) {
    gap: 20px;
  }
}
.modal__text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0em;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.22;
  }
}
.prices__box {
  display: flex;
}
.prices__text {
  text-transform: capitalize;
}
.prices__icon {
  fill: red;
  width: 24px;
}
