.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  max-width: 100%;
  min-height: 810px;
  padding-left: 74px;
  padding-right: 74px;
  padding-top: 5px;
  padding-bottom: 40px;
  z-index: 999;
  width: 1034px;
  background-color: var(--modal-bg-color);
  border-top-left-radius: 300px;
  border-bottom-right-radius: 300px;
}
.modal__close {
  position: relative;
  top: 100px;
  left: 100px;
}
.modal__big-logo {
  width: 450px;
  height: 664px;
  background-color: blue;
}
.modal__logo {
  background-color: red;
  border-radius: 50%;
}
