.paginated__list {
  display: flex;
  justify-content: center;

  padding-bottom: 65px;
  // margin-left: auto;
}
.pagination__order {
  display: flex;
  justify-content: center;
}
.paginated__list .paginated__item {
  padding: 6px 12px;
  cursor: pointer;
}

.item-active {
  color: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
  border-radius: 10px 0px;
}

.js-hidden {
  display: none;
}
// .pagination__list {
//   margin-left: auto;
//   margin-right: auto;
//   display: flex;
//   justify-content: center;
//   padding: 10px;
// }
// .pagination__item {
//   display: inline-block;

//   list-style: none;
//   cursor: pointer;

//   padding: 6px 12px;
//   font-size: 14px;
//   line-height: 17px;
// }

// .pagination__item-link {
//   color: var(--primary-text-color);
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 20px;
//   text-align: center;
// }

// .active {
//   color: var(--accent-text-color);
//   border: 1px solid var(--accent-text-color);
//   border-radius: 10px 0px;
//

// &:hover {
//     transform: scale(1.2)}
