.paginated__list {
  display: flex;
  justify-content: center;

  padding-left: 0;
  padding-right: 0;
  padding-bottom: 65px;

  font-size: 14px;
  line-height: 1.22;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 1.22;
  }
}
.pagination__order {
  display: flex;
  justify-content: center;
}
.paginated__list .paginated__item {
  padding: 6px 12px;
  cursor: pointer;
}

.paginated__item:hover,
.paginated__item:focus {
  box-shadow: 0 0 5px var(--accent-text-color),
    0 0 10px var(--accent-text-color), 0 0 15px var(--accent-text-color),
    0 0 20px var(--accent-text-color), 0 0 15px var(--primary-text-color),
    0 0 30px var(--primary-text-color), 0 0 20px var(--primary-text-color),
    0 0 5px var(--primary-text-color);

  transform: scale(1.05, 1.05);
  border-radius: 10px 0px;
}

.item-active {
  color: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
  border-radius: 10px 0px;
}

.js-hidden {
  display: none;
}

.paginated__item.back__item {
  border-radius: 0px 70px 70px 0px;
}

.paginated__item.forward__item {
  border-radius: 100px 0px 0px 100px;
}
// .pagination__list {
//   margin-left: auto;
//   margin-right: auto;
//   display: flex;
//   justify-content: center;
//   padding: 10px;
// }
// .pagination__item {
//   display: inline-block;

//   list-style: none;
//   cursor: pointer;

//   padding: 6px 12px;
//   font-size: 14px;
//   line-height: 17px;
// }

// .pagination__item-link {
//   color: var(--primary-text-color);
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 20px;
//   text-align: center;
// }

// .active {
//   color: var(--accent-text-color);
//   border: 1px solid var(--accent-text-color);
//   border-radius: 10px 0px;
//

// &:hover {
//     transform: scale(1.2)}
