.event {
  padding-bottom: 60px;
}
.section_title {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}
.event_block {
  margin-left: auto;
  margin-right: auto;
}

.event_list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 20px;

  justify-content: space-between;
  list-style: none;
  // margin: 0;
  padding: 0;
  @media screen and (max-width: 767.98px) {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    gap: 32px;
  }
  @media screen and (min-width: 1280px) {
    row-gap: 40px;
    column-gap: 32px;
  }
}

.list_item {
  display: block;
  padding-top: 9px;
  padding-right: 10px;
  width: 130px;
  @media screen and (min-width: 768px) {
    padding-top: 10px;
    padding-right: 11px;
    width: 152px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 19px;
    padding-right: 21px;
    width: 288px;
  }
  background-image: url(../images/event_bg_mb_1x.png);
  background-position: top right;
  background-repeat: no-repeat;
}

.event_img {
  margin-bottom: 8px;
  border-radius: 50px 0px;
  width: 120px;
  height: 151px;
  @media screen and (min-width: 768px) {
    width: 141px;
    height: 178px;
  }
  @media screen and (min-width: 1280px) {
    width: 267px;
    height: 337px;
  }
  overflow: hidden;
  object-fit: cover;
}

.event_title {
  height: 35px;
  overflow: hidden;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #dc56c5;

  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 20px;
  }
}

.list_item:hover .event_title {
  height: auto;
  overflow: visible;
}

.event_date {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: inherit;
  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 20px;
  }
}

.event_location {
  text-align: center;
}

.location_name {
  display: inline;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: inherit;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 17px;
  }
}

.location_icon {
  fill: currentColor;
  margin-right: 3px;
  @media screen and (min-width: 768px) {
    width: 8px;
    height: 10px;
  }
}
