body.light {
  background-color: var(--modal-bg-color);
  color: var(--modal-primary-text-color);
  background-image: url('../images/body/noise-lg.png');
  background-size: auto;
  background-repeat: repeat;

  header {
    background-image: linear-gradient(
        to right,
        rgba(249, 200, 232, 0.4),
        rgba(238, 227, 234, 0.4)
      ),
      url('../images/header/concert.png');
    background-position: left bottom;
    background-size: auto;
    background-repeat: repeat-x;
  }

  .search-form,
  .country-form {
    border: 1px solid var(--accent-text-color);
  }

  .search-form__input,
  .country-form__input,
  .search-form__input::placeholder,
  .country-form__input::placeholder {
    color: var(--secondaty-text-color);
  }

  .search-form__svg,
  .country-form__svg {
    fill: var(--secondaty-text-color);
  }
}

.theme__container {
  position: absolute;
  top: 75px;
  right: 27px;

  @media screen and (min-width: 768px) {
    top: 90px;
    right: 50px;
  }

  @media screen and (min-width: 1200px) {
    top: 103px;
    right: 31px;
  }
  // z-index: 2;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 12px;
  height: 7px;

  @media screen and (min-width: 768px) {
    width: 15px;
    height: 8px;
  }

  @media screen and (min-width: 1280px) {
    width: 18px;
    height: 10px;
  }

  border-radius: 50px;
  transform: scale(1.5);
  cursor: pointer;

  background-color: var(--accent-text-color);
}

.ball {
  position: absolute;

  width: 7px;
  height: 7px;

  border-radius: 50%;
  transition: transform 0.2s linear;

  background-color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    // top: 0.5px;
    right: 7px;
    width: 8px;
    height: 8px;
  }

  @media screen and (min-width: 1280px) {
    // top: 0.5px;
    right: 8px;
    width: 10px;
    height: 10px;
  }
}

.checkbox:checked + .label .ball {
  background-color: var(--modal-primary-text-color);
  transform: translateX(5px);

  @media screen and (min-width: 768px) {
    transform: translateX(7px);
  }

  @media screen and (min-width: 1280px) {
    transform: translateX(9px);
  }
}

.theme-iqon-hidden {
  display: none;
}

.theme__iqon-sun {
  position: relative;

  bottom: 8px;
  left: 1px;

  @media screen and (min-width: 768px) {
    bottom: 2px;
    right: 2px;
    width: 12px;
    height: 11px;
  }
}

.theme__iqon-moon {
  position: relative;
  fill: var(--primary-text-color);
  bottom: 5px;
  right: 3px;

  @media screen and (min-width: 768px) {
    bottom: 6px;
    right: 6px;
    width: 25px;
    height: 25px;
  }
}
